//
   Created by zaephor on 3/21/15.

extends ../layout
block content
    div(class="container")
        ul(class="nav nav-pills", role="tablist")
            li(class="not-selected", role="presentation")
                a(href="/friend/discover") Discover Friends
            li(class="not-selected", role="presentation")
                a(href="/friend/find") Find Friends
            // scienceiscool edited this section,
            // took the class="active" that was originally above
            // the "Discover Friends" list item and put it here in
            // the following line - where it belongs.
            // This fixed a bug, where no matter which tab was pressed,
            // only the "Discover Friends" tab would look selected.
            li(role="presentation", class="active")
                a(href="/friend/list") Friend List
                
    div(class="container")
        div(class="row")
            h1(class="col-md-6") Friends
            nav(class="col-md-3 pull-right")
                ul(class="pagination pull-right")
                    li
                        a(href="#",id="prev") Previous
                    li
                        a(href="#",id="next") Next
        div(class="row existingfriends")
block footer
  script(src="/js/friend.js")
