extends layout

block content
	div(class='container')
		ul(class='nav nav-pills',role="tablist")
			li(role="presentation",class="active")
				a(href="/friend/discover") Discover Friends
			li(role="presentation")
				a(href="/friend/find") Find Friends
			li(role="presentation")
				a(href="/friend/list") Friend List
