extends layout

block content
  h2 Hey, #{currentUser.username}. You've reached the homepage.

  //a(href='/timesheets').btn.btn-primary View My Timesheets

  br
  br

  a(href='/likeStuff').btn.btn-warning View Dashboard
