extends layout

block content

	h1.
		Welcome to the Group Project
	a(href='/users').btn.btn-primary View User Accounts

	<br /><br />
	a(href='/newuser').btn.btn-success Add User Account

	<br /><br />
	a(href='/dashboard').btn.btn-warning View Dashboard
	a(href='/login').btn.btn-danger Log In
